<div id="root"></div>

<script type="text/javascript">
  window.staticImages = {
    hours: "<%= asset_url("hours.png") %>",
    minutes: "<%= asset_url("minutes.png") %>",
    seconds: "<%= asset_url("seconds.png") %>",
    plus: "<%= asset_url("plus.svg") %>",
    unlocked: "<%= asset_url("unlocked.svg") %>"
  }
</script>
