<!DOCTYPE html>
<html>
  <head>
    <title>Stromble</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAzqV02RQ3R5tDuhiUPlhww_AhPN0rukT0" %>

    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script type="text/javascript">
    <% if logged_in? %>
      window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
    <% end %>
  </script>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
